@font-face{
    font-family: billabong;
    src:url(Billabong-font.ttf);
  }
  
.ig {
  font-family: billabong;
  font-size: 40px;
  color: black;
}

.contenedor {
  border: 2px solid ghostwhite;
  width: 1200px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 20px;
  margin-bottom: 20px;
}

#centrado {
    position: relative;
    width: 400px;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar-nav.navbar-right {
  position: relative;
  left: 80%;
  transform: translatex(-50%);
}


.tamanio {
  position: center;
  margin-right: 5px;
}

.size {
  font-size: x-small;
}

#alinear{
  left: 50%;
  transform: translate(-50%);
}

.ignoreBorder{
  padding: 0;
  border: none;
  background: none;
}

.margin-right {
  margin-right: 10px;
}

.margin-left {
  margin-left: 10px;
}

.margin {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.align{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#image {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.not-focusable:focus {
  outline: none;
  box-shadow: none;
}
.ima{
  width: 2px;
  height: 2px;
}

:link:link  {
  text-decoration: none; 
}

.estiloImagen {
  width: 50px;
}
